body {
  width: 100%;
  position: relative;
}

#navbar-example {
  position: fixed;
  width: 100%;
  z-index: 999;
  opacity: 0.7;
}

.jumbotron {
  height: 60vh;
  background-color: transparent !important; 
  background-image: url("../images/mainBackground.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: seashell;
}

.jumbotron img {
  height: 400px;
  weight: 300px;
  float: right;
}

.jumbotron p {
  font-family: 'Baloo', cursive;
  font-size: 38px;
  color: rgb(109, 107, 7);
  text-align: left;
}

.carousel-picture {
  width: 100%;
  height: 100vh;
}

.card {
  width: 25%;
}

.footer {
  height: 22vh;
  text-align: center;
}