body {
  width: 100%;
  position: relative;
}

#navbar-example {
  position: fixed;
  width: 100%;
  z-index: 999;
  opacity: 0.7;
}

.jumbotron {
  height: 60vh;
  background-color: transparent !important; 
  background-image: url("../images/mainBackground.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: seashell;
}

.jumbotron img {
  margin: 20px;
  height: 300px;
  width: 300px;
  float: right;
}

.jumbotron p {
  font-family: 'Baloo', cursive;
  font-size: 32px;
  color: rgb(251, 247, 13);
  text-align: left;
}

.card {
  width: 25%;
}

.card-img-top {
   height: 250px;
}

.footer {
  height: 22vh;
  text-align: center;
}